version: '3.8'
services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: campusbook
      MYSQL_USER: campusbook
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  server:
    build: ./server
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: campusbook
      DB_PASSWORD: password
      DB_NAME: campusbook
      SESSION_SECRET: supersecret
      NAVER_CLIENT_ID: your_client_id
      NAVER_CLIENT_SECRET: your_client_secret
    ports:
      - "4000:4000"
    volumes:
      - ./server/uploads:/app/uploads
  client:
    build: ./client
    depends_on:
      - server
    environment:
      - REACT_APP_API_BASE_URL=http://server:4000
    ports:
      - "3000:80"
volumes:
  db_data:
